<div class="col d-flex justify-content-center">
  <div class="card col-lg-6 m-4">
    <div class="card-body">
      <p class="m-2">Enter your code, please</p>
      <div>
        <input id="code" type="text" class="form-control" [(ngModel)]="code" placeholder="Your Code"
          ngbTooltip="Your poll-rooms code (6 digit)" [class.is-invalid]="error" (change)="error=false"/>
        <div class="invalid-feedback">
          Please provide a valid code for your poll!
        </div>
      </div>
      <div class="m-2">
        <button class="btn btn-info" (click)="gotoRoom()">OK</button>
      </div>
    </div>
  </div>
</div>
